.page {
  user-select: none;
  @apply p-8;
}

.header {
  @apply flex justify-end items-center;
}
.header > .control {
  @apply text-xs px-[7px] py-[3px] border rounded flex gap-2 transition-colors;
  @apply border-black border-opacity-10 bg-black bg-opacity-5;
  @apply dark:(border-white border-opacity-10 bg-white bg-opacity-5);
  @apply hover:bg-opacity-10 active:bg-opacity-5;
}
.header > .control > .controlIcon {
  @apply w-4 h-4 fill-current;
}

.ghost {
  @apply opacity-0;
}

.groups {}
.groups > .group {
  @apply mt-[34px];
}
.groups > .group > .groupName {
  @apply px-8 text-sm leading-[18px] font-semibold;
}

.apps {
  @apply pt-4 flex flex-wrap;
}
.apps > .app {
  @apply w-24 h-[5.25rem] rounded-md transition-colors;
  @apply hover:(bg-black bg-opacity-[0.06] dark:(bg-white bg-opacity-[0.06]));
  @apply active:!bg-opacity-[0.04];
}
.apps > .app > .appLogo {
  @apply mt-3 mx-auto w-8 h-8 transform transition-transform;
}
.apps > .app:active > .appLogo {
  @apply scale-75;
}
.apps > .app > .appLogo.appLogoText {
  @apply text-base text-center leading-8 bg-green-500 text-white;
}
.apps > .app > .appName {
  @apply m-1 h-8 text-xs text-center max-w-full overflow-hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
