.page {
  user-select: none;
  @apply p-8 transform;
}
.pageShowAllEnter {
  @apply translate-x-6 opacity-0;
}
.pageShowAllBackEnter {
  @apply -translate-x-6 opacity-0;
}
.pageShowAllEnterActive {
  @apply transition-all translate-x-0 opacity-100;
}
.pageShowAllExit {
  @apply translate-x-0 opacity-100;
}
.pageShowAllExitActive {
  @apply transition-all translate-x-6 opacity-0;
}
.pageShowAllBackExitActive {
  @apply transition-all -translate-x-6 opacity-0;
}

.header {
  @apply z-1 sticky top-8 ml-auto w-max flex justify-end items-center;
}
.header > .control {
  @apply text-xs px-[7px] py-[3px] border rounded flex gap-2 transition-colors;
  @apply border-true-gray-200 bg-true-gray-50 dark:(border-dark-50 bg-dark-200);
  @apply hover:(bg-true-gray-100 dark:bg-dark-100) active:(bg-true-gray-200 dark:bg-dark-500);
}
.header > .control > .controlIcon {
  @apply w-4 h-4 fill-current;
}

.ghost {
  @apply opacity-0;
}

.group {
  @apply mt-[34px];
}
.group > .groupName {
  @apply px-8 text-sm leading-[18px] font-semibold;
}

.apps {
  @apply pt-4 flex flex-wrap;
}
.apps > .app {
  @apply w-24 h-[5.25rem] rounded-md transition-colors;
  @apply hover:(bg-black bg-opacity-[0.06] dark:(bg-white bg-opacity-[0.06]));
  @apply active:!bg-opacity-[0.04];
}
.apps > .app > .appIcon {
  @apply mt-3 mx-auto w-8 h-8 transform transition-transform;
}
.apps > .app:active > .appIcon {
  @apply scale-75;
}
.apps > .app > .appIcon.appIconText {
  @apply text-base text-center leading-8 bg-green-500 text-white;
}
.apps > .app > .appName {
  @apply m-1 h-8 text-xs text-center max-w-full overflow-hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.listApps {
  @apply p-4 pb-0;
}
.listApps > .app {
  @apply px-3 py-2 flex items-center rounded-md transition-colors;
  @apply hover:(bg-black bg-opacity-[0.06] dark:(bg-white bg-opacity-[0.06]));
  @apply active:!bg-opacity-[0.04];
}
.listApps > .app > .appIcon {
  @apply w-6 h-6 mr-5;
}
.listApps > .app > .appIcon.appIconText {
  @apply text-sm text-center leading-6 bg-green-500 text-white;
}
.listApps > .app > .appName {
  @apply text-xs;
}
